* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.side_nav {
    position: fixed;
    background-color: #f0f0f0;
    width: 20vw;
    height: 100vh;
    background-color: rgb(2, 40, 27);
}

.profile_img>img {
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 50%;
}

.profile_img {
    /* text-align: center; */
    justify-content: center;
    display: flex;
}

.name1 {
    padding: 0px;
    text-align: center;
    /* margin-top: -10px; */
    margin: 15px 0px;
    color: white;
}

.nav_option {
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}

.nav_option>ul>li {
    margin: 12px;
    padding: 4px;
    color: white;

}

.nav_option>ul {
    list-style: none;

}
.nav_option>ul>li:hover {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(70, 68, 68);

}
.nav_option>ul>li>a {
    text-decoration: none;
    color: white;
}
.nav_footer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    color: white;
}

section {
    margin-left: 20vw;
}

.hero_section5 {
    background-color: rgb(4, 46, 31);
    position: relative;
    text-align: center;
    color: #fff;
    height: 110vh;

}

.hero_section5>h1 {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 50px;
    position: relative;
    color: #333;
  padding: 20px;
}

.hero_section5>h1 b {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 1000px;
    color: #fff; /* Set the text color inside the 3D effect */
}

h1 b::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #4CAF50; /* Set the shadow color */
    transform: translate3d(-5px, -5px, 0);
    z-index: -1;
}

.education_section {
    margin-top: 100px;
    font-family: Arial, sans-serif;
}

.entry {
    display: flex;
    margin-bottom: 20px;
}

.left-content {
    flex: 0 0 120px;
    text-align: right;
    margin-right: 20px;
 
}

.right-content {
    flex: 1;
}


.right-content>h4{
    font-size: 18px;
    margin: 0;
    color: #230cf3; 
}

.right-content>h6{
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    color: #0cd0f3; 
}
.right-content>p{
    font-size: 18px;
    margin: 0;
    color: #c10cf3; 
    margin-top: 10px;

}
.left-content>p{
    margin: 0;
    margin-top: 30px;
    color: #2bf30c;
    font-weight: bold;
    font-size: 16px;
}

.entry {
    border-bottom: 1px solid #b9b95a;
    padding-bottom: 20px;
}

.entry:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.entry {
    border-radius: 8px;
    overflow: hidden; /* to ensure the border radius is applied correctly */
}

.left-content, .right-content {
    padding: 0px;
}

.right-content > h4, .right-content > h6 {
    margin-bottom: 10px;
}






